body {
    background-color: #abc77a;
    color: #333;
    align-items: center;
}

.navbar {
    background-color: #4f791f;
}

/* .logo-titulo{
    display: flex;
    justify-content: space-between;
} */

.container {
    background-color: #fffadb;
    margin-top: 20px;
    border-radius: 8px;
    padding: 60px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    align-items: center;
}

.mt-5{
    align-items: center;
    text-align: center;
}

#home{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

#matricula{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.card {
    background-color: #fdefc8;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    height: 97%;
}

/* .col-md-4{
    height: 100%;
} */

.btn-primary {
    background-color: #4f791f;
    border-color: #4f791f;
    align-items: center;
    display: flex;
    justify-content: center;
}

.btn-primary:hover {
    background-color: #bce275;
    border-color: #bce275;
}

.modal-content {
    background-color: #fffadb;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.modal-header {
    background-color: #6b9c18;
    color: #d1e7aa;
    border-bottom: none;
}

.modal-footer {
    background-color: #6b9c18;
}

.btn-secondary{
    background-color: #abc77a;
    border-color: #abc77a;
}

.btn-secondary:hover{
    background-color: #bce275;
    border-color: #bce275;
}

.mt-6{
    align-items: center;
    text-align: center;
    background-color: #fffadb;
    margin-top: 20px;
    border-radius: 5px;
    padding: 60px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}